<html>
<head>
<title>Plant P450 Database</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<link rel="stylesheet" type="text/css" href="P450.css">
</head>
<body>
<div id="box">
<!--logo-->
<div id="top">
<span class="logo"><img src="Picture/logo.png"/></span>
<span class="name">Plant P450 Database</span>
</div>

<div id="navigation">
<ul>
<li><a href="post_list.html"><span>Home</span></a></li>
<li><a href="Sequences.html"><span>Sequences</span></a></li>
<li><a href="Blast.html"><span>Blast</span></a></li>
</ul>
</div>

<form action="#" method="post">
<table align="center">
<tr><td>ID</td><td>Family</td><td>Function</td><td>Species</td><td>download</td></tr>
<tr>
<td>CYP51H10</td>
<td>CYP51</td>
<td>beta-amyrin 12,13 beta-epoxidase and 16beta-hydroxylase</td>
<td>Avena strigosa</td>
<td><div class="dropdown"><button class="dropbtn" disabled="disabled">download</button>
<div class="dropdown-content"><a href="FASTA/CYP51H10.fasta" download="CYP51H10.fasta">FASTA Sequence</a>
<a href="PDB/3p5r.pdb" download="3p5r.pdb">PDB Format</a></div></div></td>
</tr>
<tr><td>CYP51G</td><td>CYP51</td><td>Sterol 14-demethylase</td><td><a href="3p5r_structure">3p5r_structure</a></td><td><div class="dropdown"><button class="dropbtn" disabled="disabled">download</button><div class="dropdown-content"><a href="FASTA/CYP51G.fasta" download="CYP51G.fasta">FASTA Sequence</a><a href="#">PDB Format</a></div></div></td></tr>
<tr><td>CYP51</td><td>CYP51</td><td>Sterol C-14 demethylase</td><td>Dioscorea_zingiberensis</td><td><div class="dropdown"><button class="dropbtn" disabled="disabled">download</button><div class="dropdown-content"><a href="#">FASTA Sequence</a><a href="#">PDB Format</a></div></div></td></tr>
<tr><td>CYP701A8</td><td>CYP70</td><td>ent-sandaracopimaradiene 3-hydroxylase</td><td>Oryza sativa Japonica Group</td><td><div class="dropdown"><button class="dropbtn"  disabled="disabled">download</button><div class="dropdown-content"><a href="#">FASTA Sequence</a><a href="#">PDB Format</a></div></div></td></tr>
<tr><td>CYP701A3</td><td>CYP70</td><td>ent-kaurene oxidase</td><td>Arabidopsis thaliana</td><td><div class="dropdown"><button class="dropbtn" disabled="disabled">download</button><div class="dropdown-content"><a href="#">FASTA Sequence</a><a href="#">PDB Format</a></div></div></td></tr>
<tr><td>CYP97A29</td><td>CYP97</td><td>beta-ring hydroxylase</td><td>Solanum lycopersicum</td><td><div class="dropdown"><button class="dropbtn" disabled="disabled">download</button><div class="dropdown-content"><a href="#">FASTA Sequence</a><a href="#">PDB Format</a></div></div></td></tr>
<tr><td>CYP97C11</td><td>CYP97</td><td>carotene epsilon-monooxygenase</td><td>Solanum lycopersicum</td><td><div class="dropdown"><button class="dropbtn"  disabled="disabled">download</button><div class="dropdown-content"><a href="#">FASTA Sequence</a><a href="#">PDB Format</a></div></div></td></tr>
<tr><td>CYP719A1</td><td>CYP719</td><td>(S)-canadine synthase</td><td>Coptis japonica</td><td><div class="dropdown"><button class="dropbtn" disabled="disabled">download</button><div class="dropdown-content"><a href="#">FASTA Sequence</a><a href="#">PDB Format</a></div></div></td></tr>
<tr><td>CYP719A13</td><td>CYP719</td><td>stylopine synthase</td><td>Argemone mexicana</td><td><div class="dropdown""><button class="dropbtn" disabled="disabled">download</button><div class="dropdown-content"><a href="#">FASTA Sequence</a><a href="#">PDB Format</a></div></div></td></tr>
<tr><td>CYP719A14</td><td>CYP719</td><td>cheilanthifoline synthase</td><td>Argemone mexicana</td><td><div class="dropdown"><button class="dropbtn"  disabled="disabled">download</button><div class="dropdown-content"><a href="#">FASTA Sequence</a><a href="#">PDB Format</a></div></div></td></tr>
</form>
</div>
</body>
</html>